/* ---------------------------------------- Fonts-------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Open+Sans&family=Poppins:wght@500&display=swap');


/* ------------------------------------------ Common Styles ------------------------------------------- */
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #FFFFFF;
    width: 870PX;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}

/* ------------------------------------------- Header ---------------------------------------------- */
.head {
    background: #562EFF;
}
.head img{
    width: 51px;
    height: 51px;
}
nav{
    display: flex;
    list-style: none;
    width: 870PX;
    column-gap: 540px;
}

nav .logo , nav img{
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    margin-left: 80px;
}

nav .nav-menu,img{
    display:flex;
    align-items: center;
   align-items: center;
   gap: 20px;  
}

nav a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

nav .nav-menu img{
margin: auto;
}

/* ------------------------------------ top players styles ---------------------------------------- */
.top-players {
    margin-bottom: 30px;
}

.section-title {
    font-weight: 500;
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}

.players {
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    height: 56px;
    width: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/*---------------------------------- top blogs styles -----------------------------------------*/
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog {
    display: flex;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;

}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    font-size: 16px;
}

/*------------------------------------------ courses styles -----------------------------------------*/
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;

}

.course {
    border: 2px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 15px;
    background: #FFFFFF;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}

.course .course-banner img {
    width: 224px;
    height: 104px;
}

.course-title {
    font-size: 20.0336px;
    line-height: 23px;
    color: #1E1E1E;


}

.course-author {
    font-weight: 400;
    font-size: 14.6913px;
    color: #ED6B4F;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
    opacity: 0.25;
}

.fa-clock {
    margin: 5px;
}

.course-duration {
    color: #ED6B4F;
    background: #FEE5DF;
    border-radius: 100px;
    font-weight: 600;
    font-size: 14.6913px;
    padding: 10px;
}

/*-------------------------------------------- Media Queries -------------------------------------------- */

/* mobile screen */
@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }

    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }

    .player,
    .blog {
        flex-direction: column;
    }
    nav .logo,.logo img
    {
        margin-left:10px; 
    }
    nav{
        column-gap: normal;
    }
}

/*................................................. Tablet screen ---------------------------------------- */

@media only screen and (min-width:689px) and (max-width:992px) {
    .container {
        width: 100%;
    }

    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }

    .player,
    .blog {
        flex-direction: column;
    }
    nav .logo,.logo img
    {
        margin-left:20px; 
    }
    nav{
    column-gap: normal;
        
    }
}